body {
    background-image:url("/js/img/g-klav.jpg");
    background-size: 123px;
    background-position:center;
    color:whitesmoke;
    background-color:rgba(0,0,0,.5);
    
}
#bild1 { 
    margin-left: 50px;
}

#bild2 {
    width: 600px;
    height: 550px;
    margin-left: 180px;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 30px;
}
#footerAnna {
  background-color:darkgrey;
  padding:20px;
  width:100%;
  height: 50px;
  bottom:0px;
  color: black;
  font-size:15px;
  text-align: center;
  flex-direction: row;
 }